.actionBar-action--block {
    cursor: pointer;
}

svg {
    height: 13px;
    margin-bottom: -1px;
    margin-right: 5px;
}

.actionBar-action--block.userButton path {
    d: path("M160 128a128 128 0 01256 0 128 128 0 01-256 0zM199 128a89 89 0 00178 0 89 89 0 00-178 0zM240 304c-97 0-176 79-176 176 0 17 14 32 32 32h384c18 0 32-15 32-32 0-97-79-176-176-176zM104 473c0-73 61-129 136-130h96c75 0 136 57 136 130z");
}

.actionBar-action--block.avatarButton path {
    d: path("M223 200a65 65 0 01130 0 65 65 0 01-130 0zM184 200a104 104 0 00208 0 104 104 0 00-208 0zM116 0c-29 0-52 23-52 52v408c0 29 23 52 52 52h344c29 0 52-23 52-52v-408c0-29-23-52-52-52zM146 473c6-51 50-91 103-91h78c53 0 97 40 104 91zM473 460c0 4-2 7-4 9-8-71-69-126-142-126h-78c-73 0-134 55-142 126-2-2-4-5-4-9v-408c0-7 6-13 13-13h344c7 0 13 6 13 13z");
}

.actionBar-action--block.signatureButton path {
    d: path("M453.7 13.7c-18.4-18.4-48.3-18.4-66.7 0l-77.8 77.8-13.9-13.9c-18.4-18.4-48.3-18.4-66.7 0l-88.9 88.9c-6.1 6.1-6.1 16.1 0 22.2 6.1 6.1 16.1 6.1 22.2 0l88.9-88.9c6.1-6.1 16.1-6.1 22.2 0l13.9 13.9-191 191c-43.3 43.3-77 102.7-95 167.4-3 10.9.1 22.6 8.1 30.6 8 8 19.7 11.1 30.6 8.1 60-16.6 127.2-54.8 167.4-95l291-291c18.6-18.3 18.6-48.2.2-66.6zM309.3 136l66.7 66.7-191 191c-35.4 35.3-98.2 71.5-153.6 86.9 15.4-55.4 44.5-111.2 86.9-153.6z");
}

.theBlocker-hide {
    display: none!important;
}

.theBlocker-show {
    display: block !important;
}
