:is(#theBlocker, .theBlocker-hide) {
    display: none !important;
}

:is(#theBlocker, .theBlocker-show) {
    display: block !important;
}

/****************************************** BUTTONS *******************************************/

.actionBar-action {
    font-size: 13px !important;
}

.actionBar-action--block {
    cursor: pointer;
}

.actionBar-action--block > svg {
    height: 13px;
    margin-bottom: -1px;
    margin-right: 4px;
}

.actionBar-action--block[blocktype="user"] path {
    d: path("M96 128a128 128 0 01256 0 128 128 0 01-256 0zM135 128a89 89 0 00178 0 89 89 0 00-178 0zM176 304q-175 0-176 176 0 32 32 32h384q32 0 32-32 0-176-176-176zM40 473q0-130 136-130h96q136 0 136 130z");
}

.actionBar-action--block[blocktype="avatar"] path {
    d: path("M159 200a65 65 0 01130 0 65 65 0 01-130 0zM120 200a104 104 0 00208 0 104 104 0 00-208 0zM52 0q-52 0-52 52v408q0 52 52 52h344q52 0 52-52v-408q0-52-52-52zM82 473q0-91 103-91h78q104 0 104 91zM409 460q0 5-4 9 0-126-142-126h-78q-142 0-142 126-4-4-4-9v-408q0-13 13-13h344q13 0 13 13z");
}

.actionBar-action--block[blocktype="signature"] path {
    d: path("M387 10c-19-16-47-13-63 6l-67 79-14-12c-19-16-47-13-62 6l-76 91c-5 6-4 15 2 21 6 5 16 4 21-2l76-91c5-6 15-7 21-2l14 12-163 195c-37 44-64 103-75 165-2 10 2 21 10 28 8 7 19 9 29 5 55-21 115-62 149-103l249-297c16-19 13-47-5-62zM262 137l68 57-163 195c-30 36-86 75-137 94 10-53 33-108 69-151l163-195z");
}

.message-actionBar .actionBar-set {
    font-size: 0 !important;
}

/***************************************** WIDGET_TABS ****************************************/

.tabs.widget-group-tabs:last-child {
    border-bottom: none !important;
    border-top: 1px solid var(--input-border-light) !important;
    margin-top: -12px !important;
    margin-bottom: 20px !important;
}

.tabs.widget-group-tabs:last-child .tabs-tab {
    border-bottom: none !important;
    border-top: 3px solid transparent;
    padding: 4px 15px 5px !important;
}

/******************************************** NOTE ********************************************/

.memberHeader-buttons:has(.memberTooltip-note) {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.memberHeader-buttons:has(.memberTooltip-note) .button {
    border: none !important;
    height: 100%;
}

.memberHeader-buttons:has(.memberTooltip-note) > * {
    display: inline-flex;
}

.memberHeader-buttons:has(.memberTooltip-note) input {
    min-width: 100px;
}

.memberHeader-buttons > .memberTooltip-note {
    flex: 1;
    padding: 0;
}

.memberTooltip-note {
    display: flex;
    gap: 10px;
    padding: 6px;
}

.memberTooltip-note > a {
    border: none !important;
}

.memberTooltip-note > input {
    border: none !important;
    font-size: 13px !important;
    padding: 0 6px !important;
}

.memberTooltip-note path {
    d: path("M64 32c-35 0-64 29-64 64v320c0 35 29 64 64 64h320c35 0 64-29 64-64v-246c0-17-7-33-19-45l-74-74c-12-12-28-19-45-19zM80 80v104c0 13 11 24 24 24h192c13 0 24-11 24-24v-100l75 75c3 3 5 7 5 11v246c0 9-7 16-16 16h-320c-9 0-16-7-16-16v-320c0-9 7-16 16-16zM128 80h144v80h-144zM160 320a64 64 0 00128 0 64 64 0 00-128 0z");
}

.memberTooltip-note svg {
    height: 13px;
    margin-right: 5px;
}

.memberTooltip-report {
    float: right;
    margin-left: 6px;
}

.memberTooltip-separator {
    margin: 0 6px !important;
}

.memberTooltip--withBanner .memberTooltip-blurbContainer {
    margin-top: 10px !important;
}
