.message--solution {
	border: unset !important;
	box-shadow: unset !important;
	position: unset !important;
}

:is(.memberTooltip-stats, .memberHeader-stats) dl {
	&:has(> dd > [href^="/sosyal/blog"]) + *,
	&:has(> dd > :is(
		[href^="/sosyal/indir"],
		[href$="/badges"],
		[href$="/daily-login-streaks"],
		[href^="/sosyal/satis"],
		[href^="/sosyal/medya"],
		[href^="/sosyal/blog"]
	)) {
		display: none !important;
	}
}

.buttonGroup:has(>[href^="/sosyal/trader"]) {
	display: none !important;
}

html:has(link[rel="icon"][href^="https://techolay.net"]) {
	.memberTooltip-stats > .pairJustifier {
		justify-content: flex-start !important;
		margin: 0 !important;
		padding: 0 !important;
		&::before {
			content: "" !important;
			display: none !important;
		}
		& > .pairs {
			margin: 0 !important;
			padding: 0 !important;
			gap: 3px !important;
			& > dt {
				font-weight: 300 !important;
				font-size: 12px !important;
				opacity: 1 !important;
				color: color-mix(in srgb, currentColor 50%, #8888) !important;
			}
			& > dd {
				margin: 0 !important;
				padding: 0 !important;
				opacity: 1 !important;
				font-weight: 400 !important;
			}
			&:not(:nth-child(4n))::after {
				content: "" !important;
				display: none !important;
			}
			&:not(:nth-child(4n + 1 of :not(:has(> dd :is(
				[href^="/sosyal/indir"],
				[href$="/badges"],
				[href$="/daily-login-streaks"],
				[href^="/sosyal/satis"],
				[href^="/sosyal/medya"],
				[href^="/sosyal/blog"]
			)))))::before {
				content: "";
				position: absolute;
				left: 0;
				width: 1px;
				height: 60%;
				background: color-mix(in srgb, currentColor 50%, #8888);
				opacity: 0.5;
			}
		}
	}
}

.userBanner {
	background: unset !important;
	text-shadow: unset !important;
	backdrop-filter: unset !important;
	-webkit-backdrop-filter: unset !important;
	transform: unset !important;
	transition: unset !important;
	box-shadow: unset !important;
	border-color: currentColor !important;
	background-color: color-mix(in srgb, currentColor 20%, contrast-color(currentColor)) !important;
}

.p-navgroup.cxf-styleVariations {
	display: none !important;
}
