.message--solution {
	border: unset !important;
	box-shadow: unset !important;
	position: unset !important;
}

:is(.memberTooltip-stats, .memberHeader-stats) dl {
	&:has(> dd > :is(
		span,
		[href$="/daily-login-streaks"],
		[href^="/sosyal/indir"],
		[href^="/sosyal/medya"],
		[href^="/sosyal/satis"],
		[href^="/sosyal/blog"]
		[href$="/badges"]
	)) {
		display: none !important;
	}
}

.buttonGroup:has(>[href^="/sosyal/trader"]) {
	display: none !important;
}

html:has(link[rel="icon"][href^="https://techolay.net"]) {
	.memberTooltip-stats > .pairJustifier {
		justify-content: flex-start !important;
		margin: 0 !important;
		padding: 0 !important;
		&::before {
			content: "" !important;
			position: absolute !important;
			left: 0 !important;
			top: 0 !important;
			bottom: 0 !important;
			width: 3px !important;
			height: unset !important;
			opacity: unset !important;
			background-color: inherit !important;
			background-color: hsla(var(--xf-contentBg)) !important;
			z-index: 20 !important;
			pointer-events: none !important;
		}
		& > .pairs {
			margin: 0 !important;
			padding: 0 !important;
			gap: 3px !important;
			& > dt {
				font-weight: 300 !important;
				font-size: 12px !important;
				opacity: 1 !important;
				color: color-mix(in srgb, currentColor 50%, #8888) !important;
			}
			& > dd {
				margin: 0 !important;
				padding: 0 !important;
				opacity: 1 !important;
				font-weight: 400 !important;
			}
			&:not(:nth-child(4n))::after {
				content: "" !important;
				display: none !important;
			}
			&::before {
				content: "";
				position: absolute;
				left: 0;
				width: 1px;
				height: 60%;
				background: color-mix(in srgb, currentColor 50%, #8888);
				opacity: 0.5;
				z-index: 1;
			}
		}
	}
}

.userBanner {
	background: unset !important;
	text-shadow: unset !important;
	backdrop-filter: unset !important;
	-webkit-backdrop-filter: unset !important;
	transform: unset !important;
	transition: unset !important;
	box-shadow: unset !important;
	border-color: currentColor !important;
	background-color: color-mix(in srgb, currentColor 20%, contrast-color(currentColor)) !important;
}

.p-navgroup.cxf-styleVariations {
	display: none !important;
}

.ap-ss-profileBlock {
	display: none !important;
}

.block:has(.petWidgetContainer) {
	display: none !important;
}

.message-body span {
	color: inherit !important;
}

.menu--account .listPlain li:has(:is(
	[href="/sosyal/hesap/block-settings/"],
	[href="/sosyal/hesap/style-settings/"],
	[href="/sosyal/hesap/macros/active/"],
	[href="/sosyal/hesap/scheduled-content"],
	[href="/sosyal/userpetsduel/"],
	[href="/sosyal/userpetstournaments/"]
)) {
	display: none !important;
}

[data-notice-id="24"] {
	display: none !important;
}
