/* Heavily inspired by Raymond Hill's uBlock Origin */
#applyButton path {
    d: path("M173.7 417.1c-6.1 0-12.3-2.3-17-7l-109.7-109.7c-9.4-9.4-9.4-24.6 0-33.9 9.4-9.4 24.6-9.4 33.9 0l92.7 92.7 257.4-257.3c9.4-9.4 24.6-9.4 33.9 0 9.4 9.4 9.4 24.6 0 33.9l-274.2 274.3c-4.7 4.7-10.8 7-17 7z");
}

#buttons {
    display: flex;
    gap: 10px;
    margin: 8px;
}

#editors {
    align-items: stretch;
    display: flex;
    flex: 1;
    justify-content: space-around;
    width: 100%;
}

#exportButton path {
    d: path("M448 472h-384c-13.3 0-24-10.7-24-24v-128c0-13.3 10.7-24 24-24s24 10.7 24 24v104h336v-104c0-13.3 10.7-24 24-24s24 10.7 24 24v128c0 13.3-10.7 24-24 24zM386.1 160.2l-113.1-113.2 0 0c-4.3-4.3-10.3-7-17-7s-12.6 2.7-17 7l0 0-113.1 113.2c-9.4 9.4-9.4 24.6 0 33.9 4.7 4.7 10.8 7 17 7s12.3-2.3 17-7l72.2-72.2v198.1c0 13.3 10.7 24 24 24s24-10.7 24-24v-198.1l72.2 72.2c4.7 4.7 10.8 7 17 7 6.1 0 12.3-2.3 17-7 9.2-9.4 9.2-24.6-.2-33.9z");
}

#importButton path {
    d: path("M448 472h-384c-13.3 0-24-10.7-24-24v-128c0-13.3 10.7-24 24-24s24 10.7 24 24v104h336v-104c0-13.3 10.7-24 24-24s24 10.7 24 24v128c0 13.3-10.7 24-24 24zM386.1 189.9c-9.4-9.4-24.6-9.4-33.9 0l-72.2 72.2v-198.1c0-13.3-10.7-24-24-24s-24 10.7-24 24v198.1l-72.2-72.2c-9.4-9.4-24.6-9.4-33.9 0-9.4 9.4-9.4 24.6 0 33.9l113.1 113.2 0 0c4.3 4.3 10.3 7 17 7s12.6-2.7 17-7l0 0 113.1-113.1c9.4-9.4 9.4-24.6 0-34z");
}

.CodeMirror,
.codeMirrorContainer {
    flex-grow: 1;
    font-size: 16px;
    height: calc(100vh - 110px);
    word-wrap: normal;
}

.codeMirrorContainer.codeMirrorBreakAll .CodeMirror-wrap pre {
    word-break: break-all;
}

.CodeMirror-lines {
    padding-top: 0px;
}

.editorTitle {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
}

.editorWrapper {
    display: grid;
    flex: 1;
    height: 100%;
    max-width: 30%;
    min-width: 30%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 1.2;
    margin: 0px;
    overflow: hidden;
    width: 100vw;
}

button {
    align-items: center;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    gap: 5px;
    padding: 8px 16px;
}

button[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

svg {
    height: 20px;
}

@media (prefers-color-scheme: dark) {
    .cm-theme-override .cm-s-default .CodeMirror-line {
        color: var(--gray-90);
    }

    .CodeMirror,
    .codeMirrorContainer {
        background-color: var(--gray-5);
    }

    .CodeMirror-activeline-background {
        background-color: var(--gray-20);
    }

    .CodeMirror-cursor {
        border-left-color: var(--gray-95);
    }

    .CodeMirror-focused .CodeMirror-selected {
        background-color: var(--magic-blue);
    }

    .CodeMirror-gutters {
        background-color: var(--gray-20);
        border-color: var(--gray-10);
    }

    .CodeMirror-linenumber {
        color: var(--gray-90-06);
    }

    .CodeMirror-selected {
        background-color: var(--magic-gray);
    }

    .editorTitle {
        color: var(--blue-30);
    }

    body {
        background-color: var(--gray-10);
    }

    button {
        background-color: var(--blue-30);
        color: var(--gray-5);
    }

    button:hover {
        background-color: var(--blue-30-08);
    }

    button[disabled] {
        background-color: var(--gray-30);
        color: var(--gray-95);
    }

    button[disabled] > svg {
        fill: currentColor;
    }

    svg {
        fill: currentColor;
    }
}

@media (prefers-color-scheme: light) {
    .CodeMirror-focused .CodeMirror-selected {
        background-color: var(--magic-blue);
    }

    .CodeMirror-selected {
        background-color: var(--magic-gray);
    }

    .editorWrapper > div {
        border: 1px solid black;
    }

    button {
        background-color: var(--blue-60);
        color: var(--gray-95);
    }

    button:hover {
        background-color: var(--blue-50);
    }

    button[disabled] {
        background-color: var(--gray-80);
        color: var(--gray-5);
    }

    button[disabled] > svg {
        fill: currentColor;
    }

    svg {
        fill: currentColor;
    }
}
