body {
	display: flex;
	flex-direction: column;
	gap: var(--12);
	height: 100svh;
	margin: 0;
	padding: var(--12);
	line-height: 1.2;
	background-color: var(--body-bg);
}

#control-buttons {
	display: flex;
	flex-shrink: 0;
	gap: var(--12);
}

#apply-button path {
	d: path("M193 409a24 24 0 01-34 0L46 296a1 1 0 0134-34l96 96 256-256a1 1 0 0134 34z");
}

#export-button path {
	d: path("M239 47a24 24 0 0134 0l113 113a1 1 0 01-34 34l-72-72v198a1 1 0 01-48 0V122l-72 72a1 1 0 01-34-34zM64 472a24 24 0 01-24-24V320a1 1 0 0148 0v104h336V320a1 1 0 0148 0v128a24 24 0 01-24 24z");
}

#import-button path {
	d: path("M126 224a1 1 0 0134-34l72 72V64a1 1 0 0148 0v198l72-72a1 1 0 0134 34L273 337a24 24 0 01-34 0zM64 472a24 24 0 01-24-24V320a1 1 0 0148 0v104h336V320a1 1 0 0148 0v128a24 24 0 01-24 24z");
}

main {
	display: flex;
	flex-grow: 1;
	gap: var(--12);
	overflow: hidden;
	@media (max-width: 750px) {
		flex-direction: column;
		overflow: scroll;
	}
}

.editor-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: var(--8);
}

.editor-title {
	flex-shrink: 0;
	font-family: var(--font);
	font-size: var(--24);
	font-weight: 500;
	letter-spacing: var(--05);
	color: var(--title);
}

.CodeMirror-container {
	flex-grow: 1;
	font-size: var(--16);
	overflow: hidden;
	@media (max-width: 750px) {
		min-height: 5lh;
		max-height: 60svh;
	}
}

#file-picker {
	display: none;
}
