body {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	height: 100svh;
	margin: 0;
	overflow: hidden;
	background-color: var(--body-bg);
}

nav {
	display: flex;
	flex-shrink: 0;
	border: 0;
	border-bottom: 1px solid var(--nav-border);
	overflow-x: auto;
	position: sticky;
}

.tabButton {
	font-size: var(--20);
}

#iframe {
	flex-grow: 1;
	width: 100%;
	background-color: transparent;
	border: 0;
}
