/* Heavily inspired by Raymond Hill's uBlock Origin */
nav {
    display: flex;
    flex-shrink: 0;
    border: 0;
    border-bottom: 1px solid;
    overflow-x: auto;
    position: sticky;
    outline: none;
}

.tabButton {
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 0.75em 1.5em calc(0.75em - 3px);
    text-decoration: none;
    white-space: nowrap;
}

.tabButton:focus {
    outline: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: stretch;
    margin: 0px;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

#iframe {
    flex-grow: 1;
    width: 100%;
    background-color: transparent;
    border: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--gray-10);
    }

    nav {
        border-color: var(--gray-40);
    }

    .tabButton {
        color: var(--gray-95);
    }

    .tabButton.selected {
        color: var(--blue-30);
        border-color: currentColor;
    }

    .tabButton:not(.selected):hover {
        background-color: var(--gray-20);
        border-color: var(--gray-30);
    }
}

@media (prefers-color-scheme: light) {
    .tabButton.selected {
        color: var(--blue-60);
        border-color: currentColor;
    }
}
