/* Heavily inspired by Raymond Hill's uBlock Origin */
#nav {
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.tabButton {
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    letter-spacing: 0.5px;
    padding: 0.7em 1.4em calc(0.7em - 3px);
    text-decoration: none;
    white-space: nowrap;
}

.tabButton:focus {
    outline: 0;
}

.tabButton.selected {
    background-color: transparent;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: stretch;
    margin: 0px;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

iframe {
    background-color: transparent;
    border: 0;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    #nav {
        border-bottom-color: var(--gray-40);
    }

    body {
        background-color: var(--gray-10);
    }

    .tabButton {
        color: var(--gray-95);
    }

    .tabButton.selected {
        color: var(--blue-30);
        border-bottom-color: currentColor;
    }

    .tabButton:not(.selected):hover {
        background-color: var(--gray-20);
        border-bottom-color: var(--gray-30);
    }
}

@media (prefers-color-scheme: light) {
    .tabButton.selected {
        color: var(--blue-60);
        border-bottom-color: currentColor;
    }
}
