body {
	display: block;
	margin: 0;
	background-color: var(--body-bg);
}

nav {
	display: flex;
	justify-content: center;
	border: 0;
	border-bottom: 1px solid var(--nav-border);
}

main {
	margin: var(--8) 0;
}

article {
	display: none;
	&.active {
		display: block;
	}
}

.valueName {
	font-size: var(--18);
}

.value {
	font-size: var(--20);
}

span {
	display: block;
	margin: var(--4);
	font-family: var(--font);
	font-weight: 500;
	text-align: center;
	white-space: nowrap;
	color: var(--stats);
}
