body {
	display: flex;
	flex-direction: column;
	gap: var(--12);
	margin: 0;
	padding: var(--12);
	line-height: 1.2;
	background-color: var(--body-bg);
}

#requestPermission {
	display: flex;
	flex-direction: column;
	gap: var(--12);
	& > span {
		font-family: var(--font);
		font-size: var(--32);
		font-weight: 500;
	}
	& > button {
		display: flex;
		align-items: center;
		gap: var(--6);
		width: fit-content;
		padding: 0.375em 0.750em;
		font-family: var(--font);
		font-size: var(--16);
		font-weight: 500;
		border: none;
		border-radius: 0.375em;
		color: var(--btn);
		background-color: var(--btn-bg);
		&:hover {
			background-color: var(--btn-bg-hover);
		}
	}
}

select {
	padding: var(--4);
	border-radius: var(--4);
	color: var(--text);
	background-color: var(--body-bg);
	& > option {
		color: var(--text);
		background-color: var(--body-bg);
	}
}

.fieldset {
	display: flex;
	flex-direction: column;
	gap: var(--8);
}

.fieldset-header {
	font-family: var(--font);
	font-size: var(--24);
	font-weight: 500;
	color: var(--title);
}

label {
	display: flex;
	gap: var(--8);
	align-items: center;
	width: fit-content;
	& > input {
		display: none;
		appearance: none;
		user-select: none;
	}
	& > svg {
		width: var(--16);
		height: var(--16);
		flex: none;
		background-color: var(--checkbox);
		border-radius: var(--2);
		border: 1px solid var(--checkbox-border);
		&:has(+ input:checked) {
			border: none;
			background-color: var(--checkbox-checked);
			& > path {
				d: path("M440 171l-56-56-184 184-72-72-56 56 128 128z");
				fill: var(--checkbox);
			}
		}
	}
	&:hover > svg {
		border-color: var(--checkbox-border-hover);
		&:has(+ input:checked) {
			background-color: var(--checkbox-checked-hover);
		}
	}
	& > span {
		font-family: var(--font);
		font-size: var(--16);
		font-weight: 400;
		color: var(--text);
	}
	& > button {
		display: flex;
		align-items: center;
		gap: var(--6);
		width: fit-content;
		padding: 0.375em 0.750em;
		font-family: var(--font);
		font-size: var(--16);
		font-weight: 500;
		border: none;
		border-radius: 0.375em;
		color: var(--btn);
		background-color: var(--btn-bg);
		&:hover {
			background-color: var(--btn-bg-hover);
		}
	}
}

hr {
	margin: 0;
	border-style: solid;
	border-color: var(--hr);
}
