:root {
    color-scheme: light dark;
    --std-gap: 12px;
}

* {
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    display: flex;
    flex-direction: column;
    gap: var(--std-gap);
    margin: 0;
    padding: var(--std-gap);
    line-height: 1.2;
    background-color: var(--body-bg);
}

#requestPermission {
    display: none;
    flex-direction: column;
    gap: var(--std-gap);
}

#requestPermission > span {
    font-size: calc(var(--std-gap) * 3);
}

#requestPermission > button {
    display: flex;
    align-items: center;
    gap: calc(var(--std-gap) / 2);
    width: fit-content;
    padding: 0.5em 1em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(var(--std-gap) * 3 / 2);
    font-weight: 500;
    border: none;
    border-radius: 0.375em;
    color: var(--btn);
    background-color: var(--btn-bg);
}

#requestPermission > button:hover {
    background-color: var(--btn-hover-bg);
}

.fieldset {
    display: flex;
    flex-direction: column;
    gap: calc(var(--std-gap) * 2 / 3);
}

.fieldset-header {
    font-size: 28px;
    font-weight: 500;
    color: var(--title);
}

label {
    display: flex;
    gap: calc(var(--std-gap) * 2 / 3);
    align-items: center;
    width: fit-content;
}

input {
    flex: none;
    width: 16px;
    height: 16px;
    margin: 0;
}

span {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

label span {
    color: var(--text);
}

hr {
    margin: 0;
    border-style: solid;
    border-color: var(--hr);
}
