name: Deploy

run-name: Deploy

on:
  push:
    paths:
      - docs/**

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Copy Files
        run: |
          cp css/colors.css docs/css/colors.css
          cp css/common.css docs/css/common.css
          mkdir -p docs/img
          cp img/icon_32.png docs/img/icon_32.png

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy Pages
        id: deployment
        uses: actions/deploy-pages@v4
